.example-spacer {
    flex: 1 1 auto;
  }
  
mat-toolbar {
  display:flex;
  align-items: center;
  justify-content: space-around ;
  background: transparent;
  color: #24262f;
}


.links {
  display:flex;
  gap:2rem;
  font-size: 2rem;
  //margin-right: 5rem;
}

// .active {
//   color:chocolate;
// }

a:hover{
  color:rgb(148, 131, 113);
}

span:hover{
  color:rgb(68, 68, 66);
}
.pix{
  font-family: "Poppins", "Poppins Placeholder", sans-serif !important;
}
