<section id="exp">
  <p class="get">Get to know more</p>
  <h1 class="title">About Me</h1>

  <div class="experience">
    <div class="image">
      <img src="./assets/images/2.jpg" />
    </div>
    <div class="section-exp">
      <div class="two-boxes">
        <div class="exp-details">
          <img class="logo" src="./assets/images/experience.png" />
          <h2>Experience</h2>
          <p>
            2+ years <br /><br />
            Frontend Development
          </p>
        </div>
        <div class="education">
          <img class="logo" src="./assets/images/education.png" />
          <h2>Education</h2>
          <p>
            B.E.Degree <br /><br />
            Mumbai University
          </p>
        </div>
      </div>
      <div class="text-details">
        An innovative, purpose-driven engineer contributed my learning into
        building web applications & solutions for enterprises.Seeking to work in
        a professional ambiance that provides a space to contribute my skills
        towards the growth of the organization.
      </div>
    </div>
  </div>
</section>
