<section id="contact">
  <p class="get">Get in Touch</p>
  <h1 class="title">Contact Me</h1>

  <div class="section-contact">
    <div class="email">
      <img class="logo1" src="./assets/images/email.png" />
      <a href="mailto:hardikajadhav1111@gmail.com"
        >hardikajadhav1111@gmail.com
      </a>
    </div>

    <br />

    <div class="linkedin">
      <img class="logo2" src="./assets/images/linkedin.png" />
      <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
    </div>
  </div>
</section>
