section{
    display:flex;
    justify-content: center;
    align-items: center;
    //gap:1.5rem;
    margin-bottom: 5rem;
}

.section-image {
    width: 28rem;
    height: 22rem;
    padding-top: 5rem;
    margin-left: 8rem;
    //border-radius: 50%;
    //border: 1px solid var(--purple);
  }

  .profile-img {
    display: block;
    width: 120%;
    height: 100%;
    border-radius: 50%;
    // object-position:center center;
     object-fit:cover;
    //image-rendering: auto;
  }

  .section-description{
    align-self: center;
    text-align: center;
    padding-top:3rem;
    font-weight: 500;
    margin-right: 5rem;
  }

  .sec-descript-1{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }
  
  .sec-descript-2{
    font-size:1.3rem;
    margin-top: 1.5rem;
  }

  .title{
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
  }

.btn-div{
    align-content: center;

}
.cv{
    margin:0.5rem;
    padding:0.7rem;
    border-radius: 25px;
    background-color: white;
    font-size: 0.7rem;
    border: none;
    outline: 1px solid #24262f;
}
.cv:hover{
    color: white;
    background-color: #24262f;
    border: none;
}

.contact{
    margin:0.5rem;
    padding:0.7rem;
    border-radius: 25px;
    background-color: #24262f;
    color: white;
    font-size: 0.7rem;
    border:none;
}
.contact:hover{
    color: #24262f;
    background-color: white;
    outline: 1px solid #24262f;
}

.contact:hover,
.cv:hover,
.link:hover,
.git:hover{
    cursor: pointer;
}

.link img{
  width: 4%;
  height:4%;
  margin:0.4rem;

}

.git img{
  margin:0.4rem;
  width: 4%;
  height:4%;

}